@use '../variables/colores_variables' as v;
@use '../variables/fonts' as f;

.sobre-mi {

    max-width: 100%;

    .sobre-mi-texto {
        background-color: v.$color-secundario;
        text-align: center;
        margin: 1.5rem 5rem 0 5rem;
        font-family: f.$fuente-principal;
        padding: .3rem;
        border-radius: 8px;
        font-weight: 450;
        
    }
}
