# Dependencias de Node
/node_modules

# Archivos generados
/dist
/build

# Archivos de configuración y caché
.vscode
.env

# Archivos gulp
/gulpfile.js

# Archivos json
/package-lock.json
/package.json